.MainChat
  .TopBar
    .TopBar__left
      .GroupName
        = @group.name
      .member
        - @group.users.each do |member|
          = member.name
          
          
    .TopBar__right
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  .ChatSpace
    = render @messages
  .MessageForm
    = form_for [@group, @message] do |f|
      .text-box
        = f.text_field :content, class: "text-box__text", placeholder: "type a message"
        = f.label :image, class: "text-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "text-box__image__file"
      
      = f.submit "Send", class: "submit-btn"